#root {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #ffffff;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 130%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

@keyframes spinWedding {
  from {
    transform: scaleY(1.05) rotate(540deg);
  }
  
  to {
    transform: scaleY(1.05) rotate(180deg);
  }
}

@keyframes spinWeddingReverse {
  from {
    transform: scaleY(1.05) rotate(180deg);
  }
  
  to {
    transform: scaleY(1.05) rotate(540deg);
  }
}

@font-face {
  font-family: "artisan";
  src: url("./assets/artisan.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ephesis";
  src: url("./assets/ephesis.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lora";
  src: url("./assets/lora.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.artisan-font {
  font-family: "artisan", sans-serif !important;
}

.ephesis-font {
  font-family: "ephesis", sans-serif !important;
}

.lora-font {
  font-family: "lora", sans-serif !important;
}
